body {
    font-size: 14px;
}

/*主页导航栏*/
.nav_top {
    line-height: 50px;
}

/*爱享那个图标*/
.navbar-header a {
    font-size: 14px;
    color: rgba(255, 0, 0, 0);
    width: 76px;
    height: 37px;
    display: block;
    margin-top: 15px;
}

/*  生活家导航栏*/
.navbar .nav_icon_2 a {
    font-size: 14px;
    color: rgba(255, 0, 0, 0);
    width: 193px;
    height: 37px;
    display: block;
    margin-top: 15px;
}
/*登录注册部分*/
#login_nav img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
/*登录注册消失*/
.disappear{
    display: none!important;
}

/*登录下拉菜单*/
.kong{
    width: 60px;
}
#share_nav a{
    padding: 0;
}
#share_nav .dropdown-menu_three{
    left: -30px;
}
#share_nav span{
    font-weight: 100;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}
#share_nav .drop_down_three span{
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 60px;
    color: white;
    background-color: #ff7e7e;
}
#share_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#share_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height:30px;
    width: 28px;
    margin-left: 0;
}
#share_nav ul li a .span_share{
    background-position: -12px -33px;
}
#share_nav ul li a .span_share_two{
    background-position: -71px -33px;
}
#share_nav ul li a .span_share_three{
    background-position: -42px -33px;
}
#share_nav ul{
    padding: 0;
    margin-top: 7px;
}
#share_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
#new_nav a{
    padding: 0;
}
#new_nav .dropdown-menu_two{
    left: -60px;
}
#new_nav span{
    font-weight: 500;
    line-height: 50px;
}
#new_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#new_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height: 30px;
    width: 28px;
    margin-left: 0;
}
#new_nav ul li a .span_new{
    background-position: -129px -25px;
}
#new_nav ul li a .span_new_two{
    background-position: -99px -24px;
}

#new_nav ul{
    padding: 0;
    margin-top: 7px;
}
#new_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
#login_nav a{
    padding: 0;
}

#login_nav span{
    font-weight: 100;
    margin-left: 10px;
}
#login_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#login_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height: 30px;
    width: 28px;
    margin-left: 0;
}
#login_nav ul li a .span_home{
    background-position: -73px -56px;
}
#login_nav ul li a .span_Account{
    background-position: -103px -56px;
}
#login_nav ul li a .span_out{
    background-position: -133px -56px;
}
#login_nav ul{
    padding: 0;
    margin-top: 7px;
}
#login_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
/*以上为下拉菜单*/

/*  导航栏1170px以上占70%*/
@media screen and (min-width: 1170px) {
    .nav_div {
        width: 70%;
        margin: auto !important;
    }
}

/*分类标签低于1300px消失*/
@media screen and (max-width: 1300px) {
    .nav_a {
        display: none;
    }
}

/* 分类那个按钮的外边框*/
.collapse .nav_a .nav_a_a {
    display: block;
    border: solid 1px #CCCCCC;
    border-radius: 60px;
    font-size: 1em;
    text-decoration: none;
    color: #777;
    width: 80px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
    cursor: pointer;
}

/*分类标签的划入样式*/

.collapse .nav_a .nav_a_a:hover {
    color: #ff7e7e;
    border: solid 1px #ff7e7e;
    background-color: rgba(255, 192, 203, 0.15);
}
.collapse .nav_a ul{
    left: 300px;
    width: 260px;
}
.collapse .nav_a ul li{
    display: inline-block;
    width: 50px;
    margin-left: 20px;
}
.collapse .nav_a ul li a{
    text-align: center;
    font-size: 0.9em;
    padding: 0;
}
.collapse .nav_li {
    margin-right: 0;
}

/*注册登录按钮*/
.collapse .nav_li li {
    font-size: 1.3em;
    margin-top: 10px;
    /*margin-right: 50px;*/
}

/*搜索按钮的form表单的css*/
.navbar .collapse .nav_button {
    margin-left: 30px;
}

/*搜索框*/
.navbar .collapse .nav_button input {
    border: solid 1px #ff7e7e;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: none;
}

/*搜索框边上的按钮*/
.navbar .collapse .nav_button button {
    background-color: #ff7e7e;
    border: 0;
    width: 50px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    margin-left: -5px;
    outline: none;
    margin-top: 3px;
}

/*容器大小*/
.container {
    width: 100%;
}

/*主体头部*/
.header {
    width: 70%;
    margin: auto;
    margin-top: 120px;
    /*border: solid 1px black;*/
    overflow: hidden;
}

@media screen and (max-width: 970px ) {
    .header {
    }
}

/*轮播图点的颜色*/
.wheel_point .active {
    background-color: pink;
}

/*轮播图大小*/
.wheel_Whole {
    width: 100%;
    overflow: hidden;
}

/*低于970px轮播图消失*/
/*@media screen and (max-width: 970px ) {*/
/*.wheel_Whole {*/
/*display: none;*/
/*}*/
/*}*/

/*社区热点*/
.community_hot {
    width: 600px;
    border: solid 1px #CCCCCC;
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
}

@media screen and (max-width: 970px ) {
    .community_hot {
        /*width: 400px;*/
        /*border: solid 1px #CCCCCC;*/
        /*box-sizing: border-box;*/
        /*margin: auto;*/
        /*margin-top: 30px;*/
        display: none;

    }
}

/*热点头部文字*/
.community {
    width: 600px;
    border: solid 1px #CCCCCC;
    box-sizing: border-box;
    float: right;
    margin-top: 30px;
    height: 300px;
}

@media screen and (max-width: 970px ) {
    .community {
        width: 400px;
        border: solid 1px #CCCCCC;
        box-sizing: border-box;
    }
}

.community .hot_top span {

    font-size: 1.8em;
    color: black;
    margin-left: 20px;
}

/*线*/
.community_hr {
    width: 95%;
    height: 1px;
    background-color: #CCCCCC;
    margin-top: 10px;
}

/*标签主体*/
.community_li {
    overflow: hidden;
}

/*热点标签*/
.community_li .community_a {
    float: left;
    width: 20%;
    height: 14%;
    border: solid 1px #CCCCCC;
    border-radius: 60px;
    text-align: center;
    line-height: 28px;
    margin: 20px 30px 10px 20px;
}

/*去除a标签样式*/
.community_li .community_a a {
    color: #777;
    text-decoration: none;
}

/*加入滑动样式*/
.community_li .community_a:hover {
    background-color: rgba(255, 192, 203, 0.55);
    border: solid 1px #ff7e7e;
    cursor: pointer;

}

/*给内部的a标签文字加入划入样式*/
.community_li .community_a:hover a {
    color: #ff7e7e;
}

/*热点工具 左*/
.community_span .one {
    border: solid 1px #CCCCCC;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: #ff7e7e;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    color: white;
    margin: 20px 0px 10px 50px;
}

/*热点工具 右*/
.community_span .two {
    border: solid 1px #CCCCCC;
    border-left: none;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: #777;
}

/*热点工具划入样式*/
.community_span span:hover {
    cursor: pointer;
}

/*热点底部*/
.community_button .hot_left {
    float: left;
    width: 30%;
}

/*左右布局*/
.community_button .hot_right {
    float: left;
    width: 50%;
    text-align: center;
}

/*按钮上方文字*/
.community_button .hot_right .span_one {
    font-size: 18px;
    margin-top: 20px;
}

.community_button .hot_right .span_two {
    color: #777;
}

/*热点最下方按钮*/
.community_button .hot_right .hot_button {
    margin-top: 30px;
    margin-bottom: 45px;
    background-color: #ff7e7e;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 60px;
    color: white;
}

/*--------------头部结束-下半部内容----------------------------------*/
/*内容区域的宽度*/
.body_container {
    margin: auto;
    width: 70%;
    margin-top: 50px;
}

/*左侧div宽度*/
.body_container .body_left {
    width: 70%;
    /*border:  solid 1px red;*/
    overflow: hidden;
    float: left;
}

/*左侧动态*/
.body_container .left_share {
    /*border: solid 1px red;*/
    width: 15%;
    float: left;
}

.body_container .left_share ul {
    /*text-align: left;*/
    padding: 0;
}

.body_container .left_share ul li {
    /*margin-bottom: 20px;*/
    list-style: none;
    /*border: solid 1px red;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    cursor: pointer;
}

/*划入样式  js控制*/
/*buuu所在*/
.body_container .left_share ul .buuu:hover {
    background-color: rgba(204, 204, 204, 0.14);
}
.display_none{
    display: none;
}
.body_container .left_share .active {
    background-color: #faeded;
    color: #ff7e7e;
}

/*精选前面的红杠*/
.body_container .left_share .active::after {
    content: "|";
    color: #ff7e7e;
    background-color: #ff7e7e;
    position: relative;
    left: -65px;
}

/*中间动态插入内容*/
/*大盒子的宽度*/
.body_container .middle_share {
    width: 85%;
    /*border: solid 1px #CCCCCC;*/
    float: left;
}

.body_container .middle_share .middle_big_content {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    overflow: hidden;
    /*background-color: yellow;*/
    border: solid 1px #cccccc;

}

/*中间动态的宽度*/
.body_container .middle_share .middle_content {
    width: 100%;
    /*border: solid 1px #cccccc;*/
    box-sizing: border-box;
    padding: 20px;
    padding-left: 50px;
    overflow: hidden;
}

/*头像*/
.body_container .middle_share .top_icon .top_icon_left {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

/*头像本体*/
.body_container .middle_share .top_icon .top_icon_left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/*名字和简介*/
.body_container .middle_share .top_icon .top_icon_right .p_one {
    font-size: 1.5em;
    margin-bottom: 0px;
    cursor: pointer;
}

.body_container .middle_share .top_icon .top_icon_right .p_two {
    color: #777;
}

/*/摘要的样式*/
.body_container .middle_share .middle_span {
    margin-bottom: 10px;
}

.body_container .middle_share .button_img img {
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

/*点赞收藏栏*/
.body_container .middle_share .point {
    width: 100%;
    /*height: 70px;*/
    /*border: solid 1px red;*/
    overflow: hidden;
}

/*三个标签的统一样式*/
.body_container .middle_share .point_0 {
    float: left;
    width: 33%;
    text-align: center;
    line-height: 70px;
    color: #666;
    cursor: pointer;
}

/*文字与图标的距离*/
.body_container .middle_share .point_0 span {
    margin-left: 10px;
}

/*点赞划入样式*/
.body_container .middle_share .point_0:hover {
    color: #ff7e7e;
}

/*点赞与收藏后面的竖线*/
.body_container .middle_share .point_hr {
    float: left;
    height: 50px;
    width: 1px;
    background-color: #cccccc;
    margin-top: 10px;
}

/*下拉列表*/
.body_container .middle_share .point_ul {
    /*display: none;*/
    list-style: none;
    position: absolute;
    float: left;
    border: solid 1px red;
    width: 220px;
    height: 140px;
}

/*----------以上中间结束,开始右侧---------------------------------------------*/
/*左侧关注框宽度*/
.body_container .body_right {
    width: 30%;
    float: right;
}

/*推荐框宽度*/
.body_container .body_right .celebrity {
    width: 313px;
    height: 420px;
    border: solid 1px #CCCCCC;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}

/*字体的div*/
.body_container .body_right .celebrity .celebrity_span {
    display: flex;
    justify-content: space-between;
}

/*推荐关注字体*/
.body_container .body_right .celebrity span {
    font-size: 1.5em;
    font-weight: 600;
    box-sizing: border-box;
    padding: 5px 25px;
}

/*换一批样式*/
.body_container .body_right .celebrity .huanyihuan {
    color: #ff7e7e;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 30px;
    cursor: pointer;
}

/*红人的ul*/
.body_container .body_right .celebrity .celebrity_ul {
    overflow: hidden;
}

/*关注红人*/
.celebrity_img, .celebrity_desc {
    float: left;
}

.celebrity_desc {
    width: 50%;
}

/*celebrity_p 人名*/
.celebrity_desc .celebrity_p {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
}

/*一个人的名片大小*/
.body_container .body_right .celebrity_1 {
    overflow: hidden;
}

.body_container .body_right .celebrity_ul ul {
    padding-left: 25px;
}

/*名人简介*/
.body_container .body_right .celebrity_ul .celebrity_desc span {
    padding: 0;
    font-weight: 100;
    font-size: 1em;
}

/*红人图片*/
.body_container .body_right .celebrity .celebrity_img img {
    border-radius: 50%;
    margin: 10px 10px 10px 0;
}

/*关注标签*/
.body_container .body_right .celebrity  .a_no_active {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #ff7e7e;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-top: 25px;
    border: solid 1px #ff7e7e;
}
.a_active {
    color: #ff7e7e !important;
    background-color: white !important;
}

/*查看更多*/
.body_container .body_right .celebrity_seemore {
    text-align: center;

}

.body_container .body_right .celebrity_seemore span {
    display: inline-block;
    font-size: 1em;
    color: #ff7e7e;
    font-weight: 500;
    margin: 8px auto;
    cursor: pointer;
}

/*固定标签*/
.body_container .app img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    /*position: fixed;*/
}

/*回到顶部*/
.body_container .app_top a {
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
    border: solid 1px #CCCCCC;
    text-align: center;
    position: fixed;
    right: 250px;
    bottom: 100px;
    display: none;
}

.body_container .app_top img {
    margin-top: 10px;
}