/*主页导航栏*/
.nav_top {
    line-height: 50px;
}

/*爱享那个图标*/
.navbar-header a {
    font-size: 14px;
    color: rgba(255, 0, 0, 0);
    width: 76px;
    height: 37px;
    display: block;
    margin-top: 15px;
}

/*  生活家导航栏*/
.navbar .nav_icon_2 a {
    font-size: 14px;
    color: rgba(255, 0, 0, 0);
    width: 193px;
    height: 37px;
    display: block;
    margin-top: 15px;
}
/*登录注册部分*/
#login_nav img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
/*登录注册消失*/
.disappear{
    display: none!important;
}

/*登录下拉菜单*/
.kong{
    width: 60px;
}
#share_nav a{
    padding: 0;
}
#share_nav .dropdown-menu_three{
    left: -30px;
}
#share_nav span{
    font-weight: 100;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}
#share_nav .drop_down_three span{
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 60px;
    color: white;
    background-color: #ff7e7e;
}
#share_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#share_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height:30px;
    width: 28px;
    margin-left: 0;
}
#share_nav ul li a .span_share{
    background-position: -12px -33px;
}
#share_nav ul li a .span_share_two{
    background-position: -71px -33px;
}
#share_nav ul li a .span_share_three{
    background-position: -42px -33px;
}
#share_nav ul{
    padding: 0;
    margin-top: 7px;
}
#share_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
#new_nav a{
    padding: 0;
}
#new_nav .dropdown-menu_two{
    left: -60px;
}
#new_nav span{
    font-weight: 500;
    line-height: 50px;
}
#new_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#new_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height: 30px;
    width: 28px;
    margin-left: 0;
}
#new_nav ul li a .span_new{
    background-position: -129px -25px;
}
#new_nav ul li a .span_new_two{
    background-position: -99px -24px;
}

#new_nav ul{
    padding: 0;
    margin-top: 7px;
}
#new_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
#login_nav a{
    padding: 0;
}

#login_nav span{
    font-weight: 100;
    margin-left: 10px;
}
#login_nav ul li a{
    height: 40px;
    line-height: 40px;
}
#login_nav ul li a span{
    background-image: url("../img/KHawy.png");
    height: 30px;
    width: 28px;
    margin-left: 0;
}
#login_nav ul li a .span_home{
    background-position: -73px -56px;
}
#login_nav ul li a .span_Account{
    background-position: -103px -56px;
}
#login_nav ul li a .span_out{
    background-position: -133px -56px;
}
#login_nav ul{
    padding: 0;
    margin-top: 7px;
}
#login_nav ul li{
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}
/*以上为下拉菜单*/

/*  导航栏1170px以上占70%*/
@media screen and (min-width: 1170px) {
    .nav_div {
        width: 70%;
        margin: auto !important;
    }
}

/*分类标签低于1300px消失*/
@media screen and (max-width: 1300px) {
    .nav_a {
        display: none;
    }
}

/* 分类那个按钮的外边框*/
.collapse .nav_a .nav_a_a {
    display: block;
    border: solid 1px #CCCCCC;
    border-radius: 60px;
    font-size: 1em;
    text-decoration: none;
    color: #777;
    width: 80px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
    cursor: pointer;
}

/*分类标签的划入样式*/

.collapse .nav_a .nav_a_a:hover {
    color: #ff7e7e;
    border: solid 1px #ff7e7e;
    background-color: rgba(255, 192, 203, 0.15);
}
.collapse .nav_a ul{
    left: 300px;
    width: 260px;
}
.collapse .nav_a ul li{
    display: inline-block;
    width: 50px;
    margin-left: 20px;
}
.collapse .nav_a ul li a{
    text-align: center;
    font-size: 0.9em;
    padding: 0;
}
.collapse .nav_li {
    margin-right: 0;
}

/*注册登录按钮*/
.collapse .nav_li li {
    font-size: 1.3em;
    margin-top: 10px;
    /*margin-right: 50px;*/
}

/*搜索按钮的form表单的css*/
.navbar .collapse .nav_button {
    margin-left: 30px;
}

/*搜索框*/
.navbar .collapse .nav_button input {
    border: solid 1px #ff7e7e;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: none;
}

/*搜索框边上的按钮*/
.navbar .collapse .nav_button button {
    background-color: #ff7e7e;
    border: 0;
    width: 50px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    margin-left: -5px;
    outline: none;
    margin-top: 3px;
}
/*导航条结束*/

/*搜索页面主体展示*/

/*头部分类*/
.container .main{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    min-width: 620px;
}
.container .main .main-kind{
    width: 74%;
}
#myTab{
    border: solid 1px #e3e3e3;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    margin-bottom: 20px;
    min-width: 340px;
}
#myTab li a{
    font-size: 16px;
    color: #444;
}

/*主题展示*/
#myTabContent{

    min-width: 340px;
}
.container .main .main02{
    width: 72%;
    background-color: white;
}
#myTabContent .main021{
    border: solid 1px #e3e3e3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 20px;
}
#myTabContent .main021 .main021-0{
    border: solid 1px #ccc;
    max-width: 32%;
    margin-top: 20px;
    /*flex: 1;*/
    min-width: 240px;
}
#myTabContent .main021 .main021-0 .main021-01 img{
    width: 100%;
}
#myTabContent .main021 .main021-0 .main021-02{
    margin-top: 20px;
    padding: 0px 20px;
    font-size: 14px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
}
#myTabContent .main021 .main021-0 .main021-03{
    display: flex;
    height: 40px;
    padding: 0px 10px;
}
#myTabContent .main021 .main021-0 .main021-03 div img{
    width: 40px;
}
#myTabContent .main021 .main021-0 .main021-03 div{
    display: flex;
}
#myTabContent .main021 .main021-0 .main021-03 .main021-031{
    margin-right: 20px;
}
#myTabContent .main021 .main021-0 .main021-03 div span{
    line-height: 40px;
    height: 40px;
    display: block;
}
#myTabContent .main021 .main021-0 .main021-04{
    padding: 0px 20px;
    margin-top: 10px;
    display: flex;
    overflow: hidden;

}
#myTabContent .main021 .main021-0 .main021-04 a img{
    border-radius: 50%;
    margin-right: 20px;
    width: 20px;
}
#myTabContent .main021 .main021-0 .main021-04 a{
    text-decoration: none;
}
#myTabContent .main021 .main021-0 .main021-04 a p{
    margin: 0px;
    font-size: 14px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
}


/*专辑展示*/
#myTabContent .main022{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 1px #e3e3e3;
    padding: 20px;
}
#myTabContent .main022 .main022-01{
    width: 230px;
    min-width: 230px;
    border: solid 1px rgba(204, 204, 204, 0.48);
    margin-top: 16px;
}
#myTabContent .main022 .main022-01 a{
    text-decoration: none;
}
#myTabContent .main022 .main022-01 .main022-011{
    height: 240px;
    padding: 4px;
    border-bottom: solid 1px rgba(204, 204, 204, 0.48);
}
#myTabContent .main022 .main022-01 .main022-011 img{
    width: 100%;
    object-fit: cover;
}
#myTabContent .main022 .main022-01 .main-022-012 h3{
    font-size: 14px;
    font-weight: 600;
    color: #444;
    width: 100%;
    text-align: center;
}
#myTabContent .main022 .main022-01 .main-022-012 p{
    font-size: 12px;
    color: #777;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/*文章展示*/
#myTabContent .main023 .main023-01{
    width: 100%;
    padding: 30px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
#myTabContent .main023 .main023-01 .main023-011{
    display: flex;
}
#myTabContent .main023 .main023-01 .main023-011 a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#myTabContent .main023 .main023-01 .main023-011 .main023-011-01{
    margin-left: 20px;
}
#myTabContent .main023 .main023-01 .main023-011 .main023-011-01 p{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #444;
    line-height: 25px;
}
#myTabContent .main023 .main023-01 .main023-012{
    font-size: 20px;
    line-height: 24px;
    color: #444;
    margin-top: 20px;
}
#myTabContent .main023 .main023-01 .main023-013{
    margin-top: 20px;
    display: block;
}
#myTabContent .main023 .main023-01 .main023-013 .main023-013-01>img{
    width: 360px;
    height: 204px;
    display: block;
    border-radius: 10px;
}
#myTabContent .main023 .main023-01 .main023-013 .main023-013-01{
    position: relative;
}
#myTabContent .main023 .main023-01 .main023-013 .main023-013-01 span{
    border-radius: 100px;
    background-color: rgba(0,0,0,.4);
    display: block;
    width: 80px;
    height: 28px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 260px;
    top: 20px;
    padding: auto;
    line-height: 28px;

}
#myTabContent .main023 .main023-01 .main023-013 .main023-013-01 span img{
    width: 24px;
    margin: auto;
}


/*关注展示*/
#myTabContent .main-125{
    padding: 0px;
}

#myTabContent .main025{
    display: block;
    width: 100%;
    border: solid 1px #e3e3e3;
}
#myTabContent .main025 .main025-01{
    display: flex;

    align-items: center;
    padding: 25px 20px 25px 0;
    border-bottom: 1px solid #d8d8d8;
}
#myTabContent .main025 .main025-01 div:nth-child(1) img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#myTabContent .main025 .main025-01 .main025-011{
    width: 60%;
    padding: 20px;
}
#myTabContent .main025 .main025-01 .main025-011 a{
    font-size: 16px;
    color: #444;
    font-weight: 600;
}
#myTabContent .main025 .main025-01 .main025-011 div{
    font-size: 14px;
    color: #444;
    margin-top: 8px;
}
#myTabContent .main025 .main025-01 .main025-011 div span{
    color: #ff7e7e;
}
#myTabContent .main025 .main025-01 .main025-012{
    width: 80px;
    height: 34px;
}
#myTabContent .main025 .main025-01 .main025-012 .main025-012-01{
    display: block;
    width: 80px;
    height: 34px;
    background-color: #ff7e7e;
    border-radius: 100px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
#myTabContent .main025 .main025-01 .main025-012 .main025-012-01:hover{
    cursor: pointer;
}

/*主题右边历史热点和热门*/
.container .main .main-kind1{
    width: 24%;
    min-width: 280px;
    padding-left: 20px;
}
.container .main .main-kind1 .kind1-01{
    border: solid 1px #e3e3e3;
    margin-bottom: 40px;
    padding-left: 20px;
}
.container .main .main-kind1 .kind1-01 .kind1-011{
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #e0e0e0;
}
.container .main .main-kind1 .kind1-01 .kind1-011 .kind1-011-2{
    margin-left: 80px;
    color: white;
}
.container .main .main-kind1 .kind1-01 .kind1-011 .kind1-011-2:hover{
    color: #ff7e7e;
}
.container .main .main-kind1 .kind1-01 .kind1-011 .kind1-011-1{
    padding: 10px 0;
    font-size: 16px;
    color: #444;
    font-weight: 600;
}
.container .main .main-kind1 .kind1-01 .kind1-012 ul{
    /*justify-content: space-around;*/
    padding: 0px 30px;
    overflow: hidden;
}
.container .main .main-kind1 .kind1-01 .kind1-012 li{
    display: block;
    flex-wrap: wrap;
    float: left;
    width: 46%;
    text-align: center;
    margin-top: 16px;
}
.container .main .main-kind1 .kind1-01 .kind1-012 li a{
    font-size: 14px;
    color: #777;
}
.container .main .main-kind1 .kind1-01 .kind1-012 li a:hover{
    color: #ff7e7e;
}
