/*顶部导航条*/
.header{
    display: flex;
    height: 70px;
    line-height: 70px;
    background-color: rgba(204, 204, 204, 0.21);
    justify-content: space-around;
}
.header .header1 img{
    width: 200px;
}
.header .header2 a{

}
.header .header2 img{
    width: 34px;
    border-radius: 50%;
    margin-right: 26px;
}


/*标签页*/
#myTab{
    height: 680px;
    border: solid 1px #e3e3e3;
    padding: 0px;

}
#myTab li{
    width: 100%;
    float: none;
    padding: -1px;
}
#myTab li a{
    width: 100%;border-radius: 0px;
    box-sizing: border-box;

}
#myTab li a:hover{
    background: #fc8383;
}
#myTab li img{
    width: 20px;
    margin: 6px;
}
#myTabContent{
    padding: 0px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    height: 680px;
}
#home,#ios,#java{
    border-top: solid 1px #e3e3e3;

}
#home .tab01,#ios .tab01,#java .tab01{
    height: 80px;
    line-height: 80px;
    font-size:16px;
    padding-left: 30px;
    border-bottom: solid 1px #e3e3e3;
}
.main{
    margin-top:100px;
}
#home .tab02{
    text-align: center;
}
#home .tab02 a{
    display: block;
    margin: auto;
    border: solid 1px #fc8383;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 120px;
    color: #fc8383;
    text-decoration: none;
}
#home .tab02 a:hover{
    cursor:pointer
}
#ios .tab02,#java .tab02{
    text-align: center;
    padding-top: 240px;
}
#ios .tab02 a,#java .tab02 a{
    color: #fc8383;
}